<!<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dodogame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../src/css/dodogame.css" />
    <script src="../src/js/dodogame.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>

<body>
    <h1 class="title">Dogogame</h1>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="icon">
            </div>
            <div class="col-md-4">
                <img class="icon2">
            </div>
            <div class="col-md-4">
                <img class="icon3">
            </div>
        </div>
    </div>
    <h1 id="sucesso"></h1>
    <h1 id="fracasso"></h1>
</body>

</html>