body {
    background: url("../../public/img/angryDodogama.png") no-repeat;
    background-size: cover;
    margin: 0;
}

h1.title {
    text-align: center;
    color: white;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 10px;
}